<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="links">
        <a href="/boring" class="card-link">Boring</a>
        <a href="/test" class="card-link">Test</a>
        <a href="/exciting" class="card-link">Exciting</a>
        <a href="really_exciting" class="card-link">really_exciting</a>
        <a href="/pokemon" class="card-link">Pokemon</a>
      </div>
      <div class="pokemon">
          <% for (let poke of pokemon) { %>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="<%= poke.image %>" alt="<%=poke.name %>" style = "width: 100%" >
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= poke.name %></h5>
                        <p class="card-text"><small class="text-muted"><%= poke.id %></small></p>
                      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, distinctio.</p>
                    </div>
                  </div>
                </div>
              </div>




            <!-- <div class="item">
                <img src="<%= poke.image %>" alt="<%= %>" style = "width: 25%">
                <div class="data">
                    <h1 class="name"><%= poke.name %></h1>
                    <h1 class="id"><%= poke.id %></h1>
                </div>
            </div> -->
            <% } %>
        </div> 
</body>
</html>